# **Messy IPYNB File**

## Importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Bird Telemetry Dataset

In [8]:
bird_health_df = pd.read_excel('birds.xlsx',sheet_name="Capture and Health")
bird_vhf_df = pd.read_excel('birds.xlsx',sheet_name="VHF Telemetry")
bird_sat_df = pd.read_excel('birds.xlsx',sheet_name="Satellite Telemetry")
bird_amoy_df = pd.read_excel('birds.xlsx',sheet_name="AMOY Survey")

In [7]:
bird_health_df.head()

,Data Publication Date,Data Publication Reference,Study Reference Number,Study Name,Capture ID,Bird Code,Common Name,Scientific Name,FWS Band,Color Band,...,Blood Feather Comments,Release Health ID,Release Breathing,Release Attitude,Release Comments,NA Health ID,NA Breathing,NA Attitude,NA Comments,Field Data Verification Status
0,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",13,AMOY-012,American Oystercatcher,Haematopus palliatus,1106-16404,CMR(C5),...,NaN,6435.0,Closed mouth,Bright and alert,NaN,NaN,NaN,NaN,NaN,Underway
1,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",14,AMOY-013,American Oystercatcher,Haematopus palliatus,1106-16312,MR(C0),...,NaN,6440.0,Closed mouth,Bright and alert,NaN,NaN,NaN,NaN,NaN,Underway
2,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",15,AMOY-014,American Oystercatcher,Haematopus palliatus,1106-16313,MR(F0),...,NaN,6445.0,Closed mouth,Bright and alert,NaN,NaN,NaN,NaN,NaN,Underway
3,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",16,AMOY-015,American Oystercatcher,Haematopus palliatus,1106-16311,MR (E2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Underway
4,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",17,AMOY-016,American Oystercatcher,Haematopus palliatus,1106-16314,MR(H1),...,NaN,6468.0,Closed mouth,Bright and alert,NaN,NaN,NaN,NaN,NaN,Underway

Note - For bird health data, I want to try geo plotting with longitude and lattitudes with amount of oil

## Oil Content of Sand Data

In [10]:
oil_sand_df = pd.read_excel('oil-sand.xlsx',sheet_name="data")
oil_sand_df.tail() ## need to drop last 4 rows

,Sample Number,Collection Date,Sample ID,Sampling Location,Latitude,Longitude,Processing Lab,Fractional Oil Content,Fractional Moisture Content
564,565,6/24/2014,062414-45,"West Ship Island, MS",30.207897,-88.96099,Reddy,0.1368,ND
565,a Reddy - samples collected and processed by C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,b Aeppli - samples collected and processed by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567,c White - samples collected and processed by H...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,d ND = No Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Gulf Fisheries Data

In [12]:
commercial_df = pd.read_excel('gulf-fisheries.xlsx',sheet_name="Commercial Fisheries")
commercial_shrimp_df = pd.read_excel('gulf-fisheries.xlsx',sheet_name="Commercial Shrimp Fishery")
recreational_df = pd.read_excel('gulf-fisheries.xlsx',sheet_name="Recreational Fisheries")
mariculture_df = pd.read_excel('gulf-fisheries.xlsx',sheet_name="Mariculture Fisheries")

## Fish Data

In [14]:
fish_df = pd.read_excel('fish.xlsx',sheet_name="Sheet1") #need to get in headers for columns when reading in data

In [15]:
fish_df.head()

,empty or N/A = no data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sample,Species,d15N,d13C,d34S,%N,%C,C:N,MeHg,Ihg,...,SD,D201,SD,D204,SD,D199:D201,NaN,NaN,NaN,NaN
2,sample ID,fish type,NaN,NaN,NaN,NaN,NaN,NaN,ppb,ppb,...,NaN,0/00,NaN,0/00,NaN,ratioMercury in the marine environment poses e...,NaN,NaN,NaN,NaN
3,DC-12-102,Amberjack,15.47,-16.69,18.7,46.2,13.5,3.422222,3477,6,...,0.108163,1.276656,0.200675,-0.083326,0.106676,1.215708,NaN,NaN,NaN,NaN
4,DC-12-002,Amberjack,14.1,-17.4,19.25,47.6,14.6,3.260274,6368,383,...,0.108163,0.767604,0.200675,-0.17461,0.106676,1.291591,NaN,NaN,NaN,NaN