# **Messy IPYNB File**

## Importing libraries

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
from shapely.geometry import Point, Polygon

In [13]:
bird_health_df = pd.read_excel('birds.xlsx',sheet_name="Capture and Health")
bird_vhf_df = pd.read_excel('birds.xlsx',sheet_name="VHF Telemetry")
bird_sat_df = pd.read_excel('birds.xlsx',sheet_name="Satellite Telemetry")
bird_amoy_df = pd.read_excel('birds.xlsx',sheet_name="AMOY Survey")

In [14]:
bird_health_df.head()

,Data Publication Date,Data Publication Reference,Study Reference Number,Study Name,Capture ID,Bird Code,Common Name,Scientific Name,FWS Band,Color Band,...,Blood Feather Comments,Release Health ID,Release Breathing,Release Attitude,Release Comments,NA Health ID,NA Breathing,NA Attitude,NA Comments,Field Data Verification Status
0,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",13,AMOY-012,American Oystercatcher,Haematopus palliatus,1106-16404,CMR(C5),...,NaN,6435.0,Closed mouth,Bright and alert,NaN,NaN,NaN,NaN,NaN,Underway
1,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",14,AMOY-013,American Oystercatcher,Haematopus palliatus,1106-16312,MR(C0),...,NaN,6440.0,Closed mouth,Bright and alert,NaN,NaN,NaN,NaN,NaN,Underway
2,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",15,AMOY-014,American Oystercatcher,Haematopus palliatus,1106-16313,MR(F0),...,NaN,6445.0,Closed mouth,Bright and alert,NaN,NaN,NaN,NaN,NaN,Underway
3,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",16,AMOY-015,American Oystercatcher,Haematopus palliatus,1106-16311,MR (E2),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Underway
4,2014-01-20,Birds Capture Health and Telemetry B-04v01-01,14,"Non-breeding Shorebirds: Density, Oiling Rate,...",17,AMOY-016,American Oystercatcher,Haematopus palliatus,1106-16314,MR(H1),...,NaN,6468.0,Closed mouth,Bright and alert,NaN,NaN,NaN,NaN,NaN,Underway

Note - For bird health data, I want to try geo plotting with longitude and lattitudes with amount of oil.
could i do machine learning?? predictions?

In [17]:
geometry = [Point(xy) for xy in zip(bird_health_df["Capture Longitude"],bird_health_df["Capture Latitude"])]

In [ ]:
geo_bird_df = gpd.GeoDataFrame(bird_health_df,crs=crs,geometry=geometry);

## Oil Content of Sand Data

In [19]:
oil_sand_df = pd.read_excel('oil-sand.xlsx',sheet_name="data")
oil_sand_df.tail() ## need to drop last 4 rows
oil_sand_df.drop(oil_sand_df.tail(4).index,inplace = True) ## need to drop last 4 rows
oil_sand_df.tail()

,Sample Number,Collection Date,Sample ID,Sampling Location,Latitude,Longitude,Processing Lab,Fractional Oil Content,Fractional Moisture Content
560,561,6/24/2014,062414-41,"West Ship Island, MS",30.207897,-88.96099,Reddy,0.1040,ND
561,562,6/24/2014,062414-42,"West Ship Island, MS",30.207897,-88.96099,Reddy,0.1959,ND
562,563,6/24/2014,062414-43,"West Ship Island, MS",30.207897,-88.96099,Reddy,0.1589,ND
563,564,6/24/2014,062414-44,"West Ship Island, MS",30.207897,-88.96099,Reddy,0.1091,ND
564,565,6/24/2014,062414-45,"West Ship Island, MS",30.207897,-88.96099,Reddy,0.1368,ND

In [20]:
oil_sand_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 565 entries, 0 to 564
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample Number                565 non-null    object
 1   Collection Date              565 non-null    object
 2   Sample ID                    565 non-null    object
 3   Sampling Location            565 non-null    object
 4   Latitude                     565 non-null    float64
 5   Longitude                    565 non-null    float64
 6   Processing Lab               565 non-null    object
 7   Fractional Oil Content       565 non-null    float64
 8   Fractional Moisture Content  565 non-null    object
dtypes: float64(3), object(6)
memory usage: 44.1+ KB

In [21]:
#IDEA - map points of oil content in sand with different colors on a scale
#representing more or less fractional oil conted

## Gulf Fisheries Data

In [12]:
commercial_df = pd.read_excel('gulf-fisheries.xlsx',sheet_name="Commercial Fisheries")
commercial_shrimp_df = pd.read_excel('gulf-fisheries.xlsx',sheet_name="Commercial Shrimp Fishery")
recreational_df = pd.read_excel('gulf-fisheries.xlsx',sheet_name="Recreational Fisheries")
mariculture_df = pd.read_excel('gulf-fisheries.xlsx',sheet_name="Mariculture Fisheries")

## Fish Data

In [3]:
fish_df = pd.read_excel('fish.xlsx',sheet_name="Sheet1", header=2) #need to get in headers for columns when reading in data

In [4]:
fish_df.head()

,Sample,Species,d15N,d13C,d34S,%N,%C,C:N,MeHg,Ihg,...,SD.6,D201,SD.7,D204,SD.8,D199:D201,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,sample ID,fish type,NaN,NaN,NaN,NaN,NaN,NaN,ppb,ppb,...,NaN,0/00,NaN,0/00,NaN,ratioMercury in the marine environment poses e...,NaN,NaN,NaN,NaN
1,DC-12-102,Amberjack,15.470000,-16.690000,18.70,46.200000,13.500000,3.422222,3477,6,...,0.108163,1.276656,0.200675,-0.083326,0.106676,1.215708,NaN,NaN,NaN,NaN
2,DC-12-002,Amberjack,14.100000,-17.400000,19.25,47.600000,14.600000,3.260274,6368,383,...,0.108163,0.767604,0.200675,-0.17461,0.106676,1.291591,NaN,NaN,NaN,NaN
3,DC-12-099,Amberjack,12.800000,-16.900000,17.55,44.800000,14.300000,3.132867,4833,117,...,0.108163,0.60069,0.200675,-0.034849,0.106676,1.262907,NaN,NaN,NaN,NaN
4,DC-12-100,amberjack,12.829524,-16.966473,19.55,46.487228,13.620681,3.412989,2996.577762,69.255159,...,0.031484,1.23834,0.084361,-0.075762,0.094587,1.199252,NaN,NaN,NaN,NaN

In [9]:
fish_df.drop(fish_df.head(1).index,inplace = True) #removing column description row
fish_df.drop(list(fish_df.filter(regex = 'Unnamed')), axis = 1, inplace = True)

In [10]:
fish_df.head()

,Sample,Species,d15N,d13C,d34S,%N,%C,C:N,MeHg,Ihg,...,SD.4,D199,SD.5,D200,SD.6,D201,SD.7,D204,SD.8,D199:D201
2,DC-12-002,Amberjack,14.100000,-17.400000,19.25,47.600000,14.600000,3.260274,6368,383,...,0.508000,0.99143,0.228471,0.114607,0.108163,0.767604,0.200675,-0.17461,0.106676,1.291591
3,DC-12-099,Amberjack,12.800000,-16.900000,17.55,44.800000,14.300000,3.132867,4833,117,...,0.508000,0.758615,0.228471,0.089405,0.108163,0.60069,0.200675,-0.034849,0.106676,1.262907
4,DC-12-100,amberjack,12.829524,-16.966473,19.55,46.487228,13.620681,3.412989,2996.577762,69.255159,...,0.112423,1.485082,0.063942,0.083009,0.031484,1.23834,0.084361,-0.075762,0.094587,1.199252
5,DC-12-100 dup,amberjack,12.829524,-16.966473,19.55,46.487228,13.620681,3.412989,2628.493393,65.231211,...,0.112423,1.582262,0.063942,0.126591,0.031484,1.298218,0.084361,-0.123816,0.094587,1.218795
6,DC-12-539 M,amberjack,NaN,NaN,NaN,NaN,NaN,NaN,3320.685429,35.181258,...,0.340000,1.383377,0.050000,0.111303,0.060000,1.125664,0.040000,-0.079999,0.100000,1.228944

In [11]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520 entries, 2 to 521
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sample     520 non-null    object
 1   Species    520 non-null    object
 2   d15N       412 non-null    float64
 3   d13C       412 non-null    float64
 4   d34S       329 non-null    float64
 5   %N         404 non-null    float64
 6   %C         404 non-null    float64
 7   C:N        316 non-null    float64
 8   MeHg       506 non-null    object
 9   Ihg        334 non-null    object
 10  THg        340 non-null    object
 11  MeHg.1     338 non-null    object
 12  Ihg.1      338 non-null    object
 13  Lat        513 non-null    float64
 14  Lon        513 non-null    float64
 15  d199       99 non-null     object
 16  SD         100 non-null    object
 17  d200       100 non-null    object
 18  SD.1       99 non-null     float64
 19  d201       100 non-null    object
 20  SD.2       99 non-null     float64
 21  d202       99 non-null     object
 22  SD.3       100 non-null    float64
 23  d204       100 non-null    object
 24  SD.4       100 non-null    float64
 25  D199       100 non-null    object
 26  SD.5       100 non-null    float64
 27  D200       100 non-null    object
 28  SD.6       100 non-null    float64
 29  D201       100 non-null    object
 30  SD.7       100 non-null    float64
 31  D204       100 non-null    object
 32  SD.8       100 non-null    float64
 33  D199:D201  100 non-null    object
dtypes: float64(16), object(18)
memory usage: 142.2+ KB

renaming some column names
the following is supplemental information given by dataset owner:
* ID_Data_sample (sample ID), ID_Species (species common name), delta-15N Nitrogen stable isotope ratio 15N/14N 
          (‰, 'per mil', or parts per thousand), delta-13C Lipid Extracted Carbon stable isotope ratio (‰, 'per mil', 
          or parts per thousand), delta-13C Carbon isotope ratio 13C/12C (‰, 'per mil', or parts per thousand), 
          delta-34S Sulfur isotope ratio 34S/32S (‰, 'per mil', or parts per thousand), %N Nitrogen percent molar mass 
          composition (%), %C Carbon percent molar mass composition (%), C:N Carbon to Nitrogen mass ratio (%), MeHg 
          Methylmercury (ppb), iHg inorganic Mercury (ppb), THg Total Mercury (ppb), Latitude (decimal degrees), 
          Longitude (decimal degrees), two sets of d199 (0/00) thru d204 (0/00) and Standard Deviations. Common Name 
          of Species [Amberjack, Pinfish, King Snake Eel, Moray Eel, Cutthroat Eel, Rock Sea bass, Vermillion Snapper, 
          Snowy Grouper, Gag Grouper, Red Snapper, Red Porgy, Cubbyu, Almaco jack, Longspine Porgy, Warsaw Grouper, 
          Yellow-Edge Grouper, Scamp, Grey Triggerfish, Whitebone Porgy, Grey Snapper, Inshore Lizard Fish, Hermit 
          Crab, Bank Sea Bass, Tomtate, Black Sea Bass, Shrimp]|||||